# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
ENV/

# Env & secrets
.env
.env.local

# DB
splitmate.db
*.db

# Tests / cache
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Build
dist/
build/
*.egg-info/
.replit
